@page "/"
@using Syncfusion.Blazor.Buttons

<SfCheckBox Label="Default" Disabled="true" Indeterminate="true" LabelPosition="LabelPosition.Before"></SfCheckBox>

<div class="radio-control">
    <SfRadioButton LabelPosition="RadioLabelPosition.Before" Label="Cash on Delivery" Name="payment" Value="cashondelivery" Disabled="true"></SfRadioButton>
    <SfRadioButton LabelPosition="RadioLabelPosition.Before" Label="Credit/Debit Card" Name="payment" Value="credit/debit"></SfRadioButton>
    <SfRadioButton LabelPosition="RadioLabelPosition.Before" Label="Net Banking" Name="payment" Value="netbanking"></SfRadioButton>
    <SfRadioButton LabelPosition="RadioLabelPosition.Before" Label="Other Wallets" Name="payment" Value="others"></SfRadioButton>
</div>

<style>
    .radio-control {
        margin: 5% 0 5% 20%;
        width: 200px;
    }
</style>