@page "/"

<SfCheckBox Label="Default" Disabled="true" Checked="true" LabelPosition="LabelPosition.After"></SfCheckBox>

<div class="radio-control">
    <SfRadioButton Label="Cash On Delievery" LabelPosition="LabelPosition.Before" Name="payment" Value="cashondelievery" @bind-Checked="stringChecked" Disabled="true"></SfRadioButton>
    <SfRadioButton Label="Net Banking" Name="payment" LabelPosition="LabelPosition.Before" Value="netbanking" @bind-Checked="stringChecked"></SfRadioButton>
    <SfRadioButton Label="Credit/Debit Card" Name="payment" LabelPosition="LabelPosition.Before" Value="credit/debit" @bind-Checked="stringChecked"></SfRadioButton>
    <SfRadioButton Label="Other Wallets" Name="payment" LabelPosition="LabelPosition.Before" Value="otherwallets" @bind-Checked="stringChecked"></SfRadioButton>
</div>


@code {
    private string stringChecked = "netbanking";
}

<style>
    .radio-control {
        margin: 5% 0 5% 20%;
        width: 200px;
    }
</style>